@import "tailwindcss";


.btn {
  @apply font-bold px-4 py-2 rounded;
}

.btn-blue {
  @apply bg-blue-400 hover:bg-blue-600 text-white;
}

@theme {
  --font-display: "Poppins", serif;
}

@theme {
  --color-body: #050505;
  --color-selected-text: #A3A3FF;
  --color-theme: #5C318C
} 